.missionProfile {
  display: flex;
  width: 90%;
  margin: 32px auto;
  justify-content: space-between;
  padding: 32px;

  /* background: linear-gradient(to right, rgb(159, 63, 179), rgb(56, 209, 163)); */
}

.missionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  text-decoration: none;
}

.missionContainer h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-right: 13.4rem;
}

.missionContainer ul {
  list-style: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  gap: 1rem;
  margin-top: -2rem;
}

.missionContainer li {
  border: 8.5px solid purple;
  padding: 1em 8em;
  background-color: #9494a9;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
