.missionProfile {
  display: flex;
  width: 90%;
  margin: 32px auto;
  padding: 32px;
}

/* .missionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 6px;
  text-decoration: none;
} */

.missionContainer h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px;
  margin-left: 1.8rem;
}

.missionContainer ul {
  list-style: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  gap: 1rem;
  margin-top: 1.2rem;
}

.missionContainer li {
  border: 0.2px solid #6a6a6a;
  padding: 1em 8em;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
